.navbarStyle {
    list-style: none;
}
.navbarStyle p {
        color: black;
        font-size: larger;
        font-weight:800;
        text-decoration: none;
        display: inline-block;
        position: relative;
        transition: color 0.3s ease;
}

.navbarStyle p::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 0, 0);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.navbarStyle p:hover {
    color: white;
}

.navbarStyle p:hover::before {
    transform: scaleX(1);
}

li {
    display: inline-block;
    margin: 10px;
}