.btn-buscar {
    background-color: #0cc7b7;
    color: rgb(2, 2, 2);
    font-weight: bold;
    font-size: 15px;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.btn-buscar:hover {
    transform: scale(1.1);
    background-color: #ff6600;
}
.casillaBusqueda {
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 5px;
    transition: all 0.3s ease;
    
}
.casillaBusqueda:focus {
    border-color: #ff6600;
    box-shadow: 0 0 10px rgba(255, 102, 0, 0.5);
    transform: scale(1.1);
}
.casillaBusqueda::placeholder {
    color: #ccc;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.casillaBusqueda:focus::placeholder {
    opacity: 0;
}