.conteiner {
    display: inline-block;
}

.filtrado {
    background-color: #08cfc8;
    color: rgb(1, 1, 1);
    font-family: 'Helvetica Neue',sans-serif;
    padding: 5px 5px;
    font-weight: bold;
    font-size: 1rem;
    margin: 10px;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.filtrado:hover {
    transform: scale(1.0);
    background-color: #ff6600;
}

#home_btn {
    background-color: #ff0000;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease;
}

#home_btn:hover {
    background-color: #0080ff;
    transform: scale(1.0);
}
    
